/* This is the file that styles the elements of the cart.html file. */
* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #EBE3CC;
	padding-bottom: 20px;
}

#navbar-container {
	display: flex;
	top: 28px;
	right: 100px;
	position: absolute;
	width: 52vw;
	justify-content: space-between;
	z-index: 100;
}

#navbar ul {
	display: flex;
	list-style-type: none;
	gap: 40px;

}

#navbar ul li {
	position: relative;
	font-style: normal;
	color: #062D3E;
	font-family: 'Neue Montreal';
	font-style: normal;
	font-weight: 500;
	font-size: 21px;
	line-height: 38px;
	letter-spacing: 1.44px;


}

#navbar ul li::after {
	content: '';
	position: absolute;
	bottom: 4px;
	left: 0;
	width: 0%;
	height: 2px;
	background-color: #062D3E;
	transition: width 0.3s ease-in-out;
}

#navbar ul li:hover::after {
	width: 100%;
}

#navbar ul li:hover {
	cursor: pointer;
}

#cart-page-title {
	width: 354px;
	height: 28px;
	margin-top: 100px;
	margin-left: 212px;
	top: 1209px;
	font-family: 'Neue Montreal';
	font-style: normal;
	font-weight: 500;
	font-size: 46px;
	line-height: 38px;
	letter-spacing: 0.96px;
	color: #062D3E;
}

#cart-page-background-decoration-1 {
	position: absolute;
	top: 76px;
	left: -11.56px;
}


#cart-page-background-decoration-2 {
	position: absolute;
	right: 0px;
	top: 0px;
}


a {
	text-decoration: none;
	color: inherit;
}

#logout-button {
	width: 140px;
	height: 62px;
	border-radius: 190px;
	color: #062D3E;
	border: 1px solid#062D3E;
	text-align: center;
	font-family: 'Neue Montreal';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 38px;
	letter-spacing: 1.44px;
	background-color: inherit;
	cursor: pointer;
	margin-left: 40px;
	margin-top: -10px;
	transition: all 0.3s ease;
}

#logout-button:hover {
	background-color: white;
	border: 0px;
}

#cart-container {
	margin-top: 100px;
	display: grid;
	grid-template-columns: 950px;
	place-content: center;
	gap: 10px;
}

.services {
	display: flex;
	align-items: center;
	background-color: white;
	border-radius: 12px;
	padding: 40px;
	justify-content: space-between;
}

.services:hover {
	background-color: #FBBD08;
}

.service-name,
.total-service-cost,
#checkout-sum-total {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
	color: #062D3E;
}

.service-cost {
	border: 2px solid #224453;
	border-radius: 190px;
	height: 34px;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;

}

.services:hover .service-cost {
	background: #062D3E;
	color: #EBE3CC;
}

.services:hover .button {
	background: #062D3E;
	color: #EBE3CC;
}

.service-quantity {
	border: 0px;
	outline: 0px;
	border-bottom: 2px solid #062D3E;
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 20px;
	color: #062D3E;
	text-align: center;
	width: 50px;
}

.remove-service {
	height: 40px;
	width: 40px;
	cursor: pointer;
	transition: box-shadow, transform 0.3s;
}

.remove-service:hover {

	box-shadow: rgba(31, 35, 65, 0.37) 0px 20px 30px -11px;
	transform: scale(1.1);
}

.services:hover .service-quantity {
	background-color: inherit;
}

.button {
	border-radius: 100%;
	width: 34px;
	height: 32px;
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 400;
	color: #062D3E;
	font-size: 24px;
	cursor: pointer;
	background-color: #FBBD08;
}


.service-name-header,
.service-cost-header,
.service-quantity-header,
.service-remove-header,
.total-service-cost-header,
#check-out-sum-total-header {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 500;
	color: #062D3E;
	font-size: 20px;
	margin-bottom: 10px;

}

.service-name-container,
.service-cost-container,
.service-quantity-container,
.service-remove-container,
.total-service-cost-container,
.checkout-sum-total-container {
	text-align: center;
}

.total-service-cost-header {
	margin-bottom: 12px;
}

.service-remove-header {
	margin-bottom: 8px;
	;
}

.service-image {
	height: 40px;
}

#cart-page-buy-button {
	text-align: center;
	width: 156.03px;
	height: 70px;
	border: 0px;
	background: #ED5C01;
	border-radius: 247px;
	font-family: 'Neue Montreal';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 38px;
	letter-spacing: 1.44px;
	transition-property: background-color, color;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	color: white;
	margin-top: 40px;
}

#cart-page-buy-button:hover {
	cursor: pointer;
	color: #ED5C01;
	background-color: white;
	border: 1px solid #ED5C01;

}

.service-image {
	height: 40px;
}

#cart-counter {
	border-radius: 100%;
	width: 25px;
	height: 25px;
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 400;
	color: white;
	font-size: 10px;
	cursor: default;
	position: absolute;
	background-color: #062D3E;
	top: -5px;
	right: -27px;
	pointer-events: none;
	display: none;
}

#cart-counter:hover {
	cursor: default;
}

.services.empty-cart {
	justify-content: center;
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 300;
	color: #062D3E;
	font-size: 20px;
	text-align: center;
}

.services.empty-cart:hover {
	background-color: white;


}